<nav class="navPages">
    <div class="navPages-quickSearch">
        {{> components/common/quick-search}}
    </div>
    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="/game-room/" data-collapsible="navPages-1">
                OUTDOOR
            </a>
            <a class="navPages-action has-subMenu desk" href="/game-room/">
                OUTDOOR
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-1" aria-hidden="true" tabindex="-1">
                <div class="mm-container container">

                    <div class="mmlinks">
                        <!--<h4><strong>Popular</strong> GAME ROOM</h4>-->
                        <ul class="navPage-subMenu-list">
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">O- Subcat 1</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">O- Subcat 2</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">O- Subcat 3</a></li>

                        </ul>
                        <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                    </div>
                    <div class="mmAD">
                        <a href="#">
                            <img src="x" alt="Shop">
                            <h2></h2>
                        </a>
                    </div>
                </div>
          </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="" data-collapsible="navPages-2">
                INDOOR
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <a class="navPages-action has-subMenu desk" href="">
                INDOOR
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-2" aria-hidden="true" tabindex="-1">
                <div class="mm-container container">

                    <div class="mmlinks">
                        <!--<h4><strong>Popular</strong> </h4>-->
                        <ul class="navPage-subMenu-list">
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">I- Subcat 1</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">I- Subcat 2</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">I- Subcat 3</a></li>

                        </ul>
                        <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                    </div>
                    <div class="mmAD">
                        <a href="#">
                            <img src="#" alt="Shop">
                            <h2></h2>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="" data-collapsible="navPages-3">
                POUFS & FLOOR PILLOWS
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <a class="navPages-action has-subMenu desk" href="/">
                POUFS & FLOOR PILLOWS
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-3" aria-hidden="true" tabindex="-1">
                <div class="mm-container container">

                    <div class="mmlinks">
                        <!--<h4><strong>Popular</strong> </h4>-->
                        <ul class="navPage-subMenu-list">
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">PF- Subcat 1</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">PF- Subcat 2</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">PF- Subcat 3</a></li>

                        </ul>
                        <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                    </div>
                    <div class="mmAD">
                        <a href="#">
                            <img src="#" alt="Shop">
                            <h2></h2>
                        </a>
                    </div>
                </div>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="" data-collapsible="navPages-4">
                    MONOGRAM STUDIO
                    <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-chevron-down" />
                        </svg>
                    </i>-->
                </a>
                <a class="navPages-action has-subMenu desk" href="/">
                    MONOGRAM STUDIO
                    <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-chevron-down" />
                        </svg>
                    </i>-->
                </a>
                <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-4" aria-hidden="true" tabindex="-1">
                    <div class="mm-container container">

                        <div class="mmlinks">
                            <!--<h4><strong>Popular</strong> </h4>-->
                            <ul class="navPage-subMenu-list">
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">MS- Subcat 1</a></li>
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">MS- Subcat 2</a></li>
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">MS- Subcat 3</a></li>

                            </ul>
                            <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                        </div>
                        <div class="mmAD">
                            <a href="#">
                                <img src="#" alt="Shop">
                                <h2></h2>
                            </a>
                        </div>
                    </div>
                </div>

        </li>
        <li class="navPages-item">
            <a class="navPages-action has-subMenu mob" href="" data-collapsible="navPages-5">
                    CUSTOMS
                    <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-chevron-down" />
                        </svg>
                    </i>-->
                </a>
                <a class="navPages-action has-subMenu desk" href="/">
                    CUSTOMS
                    <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-chevron-down" />
                        </svg>
                    </i>-->
                </a>
                <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-5" aria-hidden="true" tabindex="-1">
                    <div class="mm-container container">

                        <div class="mmlinks">
                            <!--<h4><strong>Popular</strong> </h4>-->
                            <ul class="navPage-subMenu-list">
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">C- Subcat 1</a></li>
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">C- Subcat 2</a></li>
                                <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">C- Subcat 3</a></li>

                            </ul>
                            <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                        </div>
                        <div class="mmAD">
                            <a href="#">
                                <img src="#" alt="Shop">
                                <h2></h2>
                            </a>
                        </div>
                    </div>
                </div>
        </li>
        <li class="navPages-item navPages-item-page">
            <a class="navPages-action has-subMenu mob" href="" data-collapsible="navPages-6">
                SALE
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <a class="navPages-action has-subMenu desk" href="/">
                SALE
                <!--<i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use xlink:href="#icon-chevron-down" />
                    </svg>
                </i>-->
            </a>
            <div class="navPage-subMenu navPage-subMenu-horizontal" id="navPages-6" aria-hidden="true" tabindex="-1">
                <div class="mm-container container">

                    <div class="mmlinks">
                        <!--<h4><strong>Popular</strong> </h4>-->
                        <ul class="navPage-subMenu-list">
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">S- Subcat 1</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">S- Subcat 2</a></li>
                            <li class="navPage-subMenu-item-parent"><a class="navPages-action navPage-subMenu-action" href="/">S- Subcat 3</a></li>

                        </ul>
                        <!--<div class="navPage-subMenu-item-parent shop-all"><a class="navPages-action navPage-subMenu-action" href="/all-brands">Shop All Game Room</a></div>-->
                    </div>

                    <div class="mmAD">
                        <a href="#">
                            <img src="#" alt="Shop">
                            <h2></h2>
                        </a>
                    </div>

                    </div>
                </div>
            </div>
        </li>

    </ul>
</nav>
