.custom-body-co {

    .container {

        .ng-checkout-container {

            .ng-checkout-view {

                .layout.optimizedCheckout-contentPrimary {

                    //! Main Div -Left ------------------------
                    .layout-main {
                        .checkout-steps {

                            .checkout-view-header {

                                // Code needed when using custom layout for checkout------
                                .stepHeader{
                                    text-decoration: none;
                                }
                                .stepHeader-title{
                                    margin-left:10px;
                                    text-transform:uppercase;
                                    font-size:22px;
                                    font-weight:bold;

                                }
                                .stepHeader-body {
                                    margin-left: 3.5rem;
                                }
                                .stepHeader-counter {
                                    height: 2.69231rem;
                                    width: 2.69231rem;
                                    background-color:#000;
                                }
                                .stepHeader-counter svg{
                                    display:none;
                                }
                                .stepHeader-counter--complete svg{
                                    display:inline-block;
                                    fill:#fff;
                                }

                                // ------------------------------------------------------
                            }

                            .checkout-view-content {

                            }

                            // Unique section classes
                            .checkout-step--customer {

                            }
                            .checkout-step--shipping {

                            }
                            .checkout-step--billing {

                            }
                            .checkout-step--payment {

                            }

                        }
                    }

                    //! Main Div - Right ------------------------
                    .layout-cart {

                        // cart
                        .cart {

                            //header
                            .cart-header {

                            }

                            //cart-items & cart-prices
                            .cart-section {

                                .cart-section-heading {

                                }

                                ul.productList {

                                    li.productList-item {

                                        .product {

                                            .product-figure {
                                                img {}
                                            }

                                            .product-body {
                                                .product-title {

                                                }
                                                .product-options {

                                                }

                                            }

                                            .product-actions {
                                                .product-price {

                                                }
                                            }
                                        }
                                    }
                                }

                                .loadingOverlay-container {

                                    .cart-priceItem { // Subtotal, Shipping, Tax
                                        .cart-priceItem-label {

                                        }
                                        .cart-priceItem-value {

                                        }
                                    }
                                }

                                .redeemable-label {

                                }

                                .cart-priceItem--total {
                                    .cart-priceItem-label {

                                    }
                                    .cart-priceItem-value {

                                    }
                                }

                            }
                        }
                    }

                    //! Cartdrawer ------------------------
                    .cartDrawer {
                        position: static;
                    }
                }
            }
        }
    }

}
