.product-page-container {

  .breadcrumbs {

  }

  .productView {

      .productView-details {

          .productView-product {

              .productView-title {

              }

              .productView-brand {

                  a {

                  }
              }

              .productView-price {

                  .rrp-price--withoutTax { // "MSRP"
                      font: 400 15px $primaryFont;
                      color: $primaryColor;

                      span.price--rrp {
                          font: 400 24px $primaryFont;
                          color: #BDCBCC;
                      }
                  }

                  .non-sale-price--withoutTax { // "Was"
                      font: 400 15px $primaryFont;
                      color: $primaryColor;

                      span.price--non-sale {
                          font: 400 24px $primaryFont;
                          color: #BDCBCC;
                      }
                  }

                  .price-section--withoutTax {
                      span.price-now-label { // "Now"
                          font: 400 16px $primaryFont;
                          color: $primaryColor;
                          text-transform: uppercase;
                      }

                      span.price--withoutTax {
                          font: 400 24px $primaryFont;
                          color: $primaryColor;
                      }

                  }

              }

              .productView-rating {

                  .icon {

                      svg {

                      }
                  }

                  .productView-reviewLink {

                      a {

                      }
                  }
              }

              .productView-info {

                  .productView-info-name {

                  }

                  .productView-info-value {

                  }

                  .productView-info-bulkPricing {

                  }
              }
          }
      }
      .productView-images {

          .productView-image  {

              .productView-img-container {

                  a {

                      img {

                      }
                  }
              }
          }

          .productView-thumbnails {

              .productView-thumbnail {

                  .productView-thumbnail-link {

                      img {

                      }
                  }
              }
          }
      }

      .productView-details {

          .productView-options {

              .form {

                  .form-field.form-field--stock {

                      .form-label {

                      }
                  }

                  .form-field.form-field--increments {

                      .form-label {

                      }

                      .form-increment {

                          .button {

                          }

                          .form-input {

                          }
                      }
                  }

                  .form-action {

                      .form-action-addToCart {

                      }
                  }


              }

              .form.form-wishlist.form-action {

                  .wishlist-dropdown {

                  }

                  .dropdown-menu {

                  }
              }
          }
          .addthis_toolbox {

              .socialLinks {

                  .socialLinks-item {

                  }
              }

          }
      }
      .productView-description {

          .tabs {

              .tab {

                  .tab-title {

                  }
              }

              .tab.is-active {

              }
          }

          .tabs-contents {

              .tab-content {

                  p {

                  }
              }

              .tab-content.is-active {

              }
          }
      }



  }

  .tabs {

      .tab {

          .tab-title {

          }
      }

      .tab.is-active {

      }
  }

  .tabs-contents {

      .tab-content {

          p {

          }
      }

      .tab-content.is-active {

      }
  }

}
